@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
  .input-sm {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-3 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }

  .wp-post-content h2.wp-block-heading {
    @apply font-montserrat font-bold text-2xl mt-6 mb-4 text-primary;
  }

  .wp-post-content h3.wp-block-heading {
    @apply font-montserrat font-bold text-xl mt-4 mb-2 text-slate-gray;
  }

  .wp-post-content p {
    @apply mb-5 font-montserrat leading-7 text-dark-gray;
  }

  .wp-post-content ul {
    @apply list-disc pl-10 font-montserrat text-dark-gray;
  }
  .wp-post-content li {
    @apply leading-7;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-sm {
    @apply sm:px-12 px-8 sm:py-[60px] py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-12 pb-12;
  }

  .btn-padding-sm {
    @apply px-5 py-3;
  }

  .btn-padding-md {
    @apply px-7 py-4;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }

  .glassmorphism {
    @apply shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur-sm bg-white-200;
  }
}
